body, html 
{
    height: 100%;
}

.main
{
    background-image: url("/static/img/main.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mal
{
    background-image: url("/static/img/mal.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register
{
    background-image: url("/static/img/register.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login
{
    background-image: url("/static/img/login.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.settings
{
    background-image: url("/static/img/settings.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.steam
{
    background-image: url("/static/img/steam.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imdb
{
    background-image: url("/static/img/imdb.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg
{
    background-image: url("/static/img/lux.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.label
{
    color: whitesmoke;
    
}
.headers
{
    color: whitesmoke;
    font-size: 3em;
    font-weight: 10000;
}


.ml12  
{
    font-weight: 200;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: whitesmoke;
    text-align: center;
}
  
.ml12 .letter 
{
    display: inline-block;
    line-height: 1em;
}
.shadow
{
    text-shadow: transparent 0px 0px 0px, rgba(0,0,0, 0.75) 1px 2px 1px;
}
.ml15 
{
    font-weight: 800;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: whitesmoke;
    text-align: center;  
}
  
.ml15 .word 
{
    display: inline-block;
    line-height: 1em;
}

.image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space:nowrap;
    border-radius: 50%;
    border: 5px solid #555;
    background-image: url("/static/img/cat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}

.image:hover 
{
    background-size: 250px;
}